/* Esto es un comentario */
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My app angular</title>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<body>
  <p class="mi_texto" id="mi_texto2">Esto es un parrafo</p>
  <h1>Esto es un titulo</h1>
  <h3>esto es otro titulo</h3>
  <table border="1"> 
    <tr class="titulo">
      <th> Productos </th>
      <th> Precios </th>
      <th> cantidad </th>
    </tr>
    <tr class="titulo2">
      <td>computadora</td>
      <td>5000000</td>
      <td>20</td>
    </tr>
    <tr class="titulo2">
      <td class="iphone">celular iphone</td>
      <td>200000</td>
      <td>25</td>
    </tr>
    <tr>
      <td><button>comprar</button></td>
      <td><button>procesar</button></td>
      <td><button>enviar</button></td>
    </tr>
  </table>
  <br>
  <form>
    <h3>mi primer formulario</h3>
    usuario
    <input type="text"><br>
    contraseña
    <input type="text">
    <input type="submit" value="enviar"><br>
    <input type="radio" value="HTML">
    <label for="html">HTML</label><br>
    <input type="radio" value="CSS">
    <label for="css">CSS</label><br>
    <input type="radio" value="JavaScript">
    <label for="javascript">JavaScript</label>
  </form>
  <div class="general">
      
      <div class="subitem">
        <h2>London</h2>
        <p>London is the capital city of England.</p>
        <p>London has over 13 million inhabitants.</p>
      </div>
  </div>
</body>
</html>

<router-outlet />
