<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<h2 class="titulos">titulo guia 2</h2>
<p class="parrafo">parrafo 1: Desarrollo de la guia 2, parte 1</p>
<p class="parrafo2"> segundo parrafo</p>
<ul> 
    <li><a href="https://www.fortnite.com/">fortnite</a></li>
    <li><a href="https://www.youtube.com/">youtube</a></li>
    <li><a href="https://open.spotify.com/">spotify</a></li>    
</ul>
<table border="1">
  <tr class="encabezado">
      <th>Productos</th>
      <th>Existencias</th>
      <th>Valor</th>
  </tr>
  <tr>
    <td class="fila1-3">iphone</td>
    <td class="fila2">10</td>
    <td class="fila1-3">$ 2.000.000</td>
  </tr>
  <tr>
    <td class="fila1-3">Mouse</td>
    <td class="fila2">100</td>
    <td class="fila1-3">$ 50.000</td>
  </tr>
  <tr>
    <td class="fila1-3">PC Gamer</td>
    <td class="fila2">2</td>
    <td class="fila1-3">$ 3.000.000</td>
  </tr>
</table>
<br>
<div class="contenedor">
  <div class="divhead"> 
    <div class="divhead1">
      <i class="uil uil-atom"></i>
    </div> 
    <div class="divhead2"> 
      <i class="uil uil-search"></i>
      <p class="parrafodiv">Buscar</p>
    </div> 
  </div> 
</div> 
</html> 


<router-outlet />
