.mitexto{
    color:rgb(255, 0, 106);
    font-size: 2rem;
    font-family: Nerko one;
    ;
}

.titulo{
    size: 2rem;
    color: black;
    font-size: 2rem;
    background-color: rgb(0, 183, 255);

}
.titulo2{

    size: 2rem;
    color: black;
    font-size: 2rem;
    background-color:blue;

}

.myhead {
    background-color: black;
    color: aliceblue;
}

td{
    background-color: red;
}